extends layout

block content

	
	h1(class="text-center")=title


	div(class='container')
		if(ingredients.length)
			form(method="post" role="form" id="deleteIngredient")
				div(class="form-group row" id="allIngredients")
					select(class="custom-select col-6 mx-auto" name="ingredient" id="selectIngredients")
						option(value="0" disabled selected) Select an ingredient
						each ingredient in ingredients
							option(value= ingredient.name name= ingredient.name price= ingredient.price) #{ingredient.name}
				button(type="submit" class="btn btn-danger") Delete Ingredient
		else
			| No Ingredients